.block {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  top: 100px;
  left: 0;
  right: 0;
  width: 100%;
  // min-width: 800px;
  height: 50vw;
  // padding: 40px;
  // box-sizing: border-box;);
}



@media only screen and (max-width: 500px) {
  .block {
    top: 40vh;
    flex-direction: column;
    height: 150vw;
  }
  .block-right {
    flex-direction: column-reverse;
  }
}