.picture-canvas {
  top: 0;
  width: 50% !important;
  height: 100% !important;
  max-width: 100%;

  font-family: 'Dancing Script', cursive;
  box-sizing: border-box;
  color: white;
  font-size: 30px;
}



@media only screen and (max-width: 500px) {
  .canvas-label-left, .canvas-label-right{
    height: 66.6666%
  }
}