.comment {
  // position: inherit;
  // right: 0;
  top: 0;
  width: 50%;
  height: 100%;
  padding: 5%;
  box-sizing: border-box;

  font-family: 'Hind Siliguri', sans-serif;
  font-weight: 300;
  font-size: 30px;
  color: white;
}



@media only screen and (max-width: 500px) {
  .comment {
    width: 100%;
    height: 50%;
  }
}
